**Loops**

- function- reuse of the code


-  loop : reuse the codes for multipul times anless the given candition satisfy
    
   - for 

   - while
    
- any loop require 3 things

    - start point
     
    - what is the condition to stop
     
    - increment  or dicrement
    

- what is the condition to the stop in for loop we will apply all above 3 in a single line


- in while loop we will aply all above 3 in 3 different lines

## For loop

**method -1**

In [ ]:
# syntax
for i in range(<stop>):
    print(i)

In [1]:
print(0)
print(1)
print(2)

0
1
2

In [2]:
for i in range(3):
    print(i)

0
1
2

**Note**

-  the difult start point is zero


   **python index start with zero**
   
   
   
   
   
   

    - default increment is 1


    - last value=stop-1

**range(5)**

- start value=0

- increment=1

- last value=5-1=4

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
print(0,end=' ')
print(1,end=' ')
print(2)

0 1 2

In [6]:
for i in range(5):
    print(i,end=' ')

0 1 2 3 4

In [ ]:
# i want to print 3 times hello

In [2]:
for i in range(3):
    print('hello')

hello
hello
hello

# method-2

**range(start,stop)**

- start value = start

- difult increment by 1

- last value=stop-1

In [ ]:
# syntax

for i in range(<start,stop>):
    print(i)

In [10]:
for i in range (2,10):
    print(i,end=' ')

2 3 4 5 6 7 8 9

In [ ]:
# wap ask the user print the squer of the numbers from 1 to 5

In [12]:
for i in range(1,6):
    print(f"the squer of {i} is {i*i}")

the squer of 1 is 1
the squer of 2 is 4
the squer of 3 is 9
the squer of 4 is 16
the squer of 5 is 25

In [6]:
# wap ask th user take 5 random numbers and print the squer of the random numbers

import random
num=random.randint(1,100)
print(f"the squer of {num} is {num*num}")

the squer of 91 is 8281

In [4]:
import random
for i in range(5):
    num=random.randint(1,100)
    print(f"the squer of {num} is {num*num}")

the squer of 68 is 4624
the squer of 80 is 6400
the squer of 59 is 3481
the squer of 81 is 6561
the squer of 88 is 7744

In [ ]:
# creat a function on reuse the code line
# call the function inside the function

In [19]:
def squer():
    num=random.randint(1,100)
    print(f"the squer of {num} is {num*num}")
    
for i in range(5):
    squer()

the squer of 48 is 2304
the squer of 69 is 4761
the squer of 7 is 49
the squer of 100 is 10000
the squer of 88 is 7744

In [36]:
import random
def squer():
    num=random.randint(1,100)
    return(f"the squer of {num} is {num*num}")
for i in range(5):
    ans=squer()
    print(ans)

the squer of 79 is 6241
the squer of 3 is 9
the squer of 98 is 9604
the squer of 25 is 625
the squer of 79 is 6241

In [3]:
import random
def squer1():
    for i in range(5):
        num=random.randint(1,100)
        print(f"the squer of {num} is {num*num}")

squer1()

the squer of 9 is 81
the squer of 52 is 2704
the squer of 7 is 49
the squer of 66 is 4356
the squer of 84 is 7056

In [ ]:
# wap ask the iser print the even or add values between 11 to 21

In [29]:
for i in range(11,21):
    if i%2==0:
        print(f"{i} is even number")
    else:
        print(f"{i} is odd number")

11 is odd number
12 is even number
13 is odd number
14 is even number
15 is odd number
16 is even number
17 is odd number
18 is even number
19 is odd number
20 is even number

In [ ]:
# wap ask the user enter a value  keyboard 5 times 
# print that value is even or odd

In [4]:
for i in range(5):
    num=eval(input("enter the number:"))
    if num%2==0:
        print(f"{num} is an even number:")
    else:
        print(f"{num} is an odd number:")

enter the number:2
2 is an even number:
enter the number:12
12 is an even number:
enter the number:3
3 is an odd number:
enter the number:4
4 is an even number:
enter the number:8
8 is an even number:

# method-3

**range(start,stop,step)**

- star= always a start value

- step: increment value
    
  - if increment  value is postive
    
  - postive valu means postive direction (Forwerd)
    
    - last=stop-1
        
    - if increment value is nagitive
    
     - nagative value means nagative direction(backward)
        
     - last=stop+1

In [32]:
# case-1

for i in range(2,20,2):
        print(i,end=' ')
        
# start=2
# step=  =ve direction
# last stop -1=20=1=10
# first write

2 4 6 8 10 12 14 16 18

In [34]:
# case-2

for i in range(2,20,-2):
        print(i,end=' ')
 # no error no ans

# start=2
# step=2  nagative direction
# last= stap+1:20+1=21

In [35]:
# case-3

for i in range(2,-20,-2):
        print(i,end=' ')
        
# start=2
# step=2  nagative direction
# last= stap+1: -20+1=-19

2 0 -2 -4 -6 -8 -10 -12 -14 -16 -18

In [36]:
# case-4

for i in range(-2,-20,-2):
        print(i,end=' ')
        
# start=2
# step=2  nagative direction
# last= stap+1: -20+1=-19

-2 -4 -6 -8 -10 -12 -14 -16 -18

In [37]:
# case-4

for i in range(-2,20,-2):
        print(i,end=' ')
        
# star= -2
# step2= nagative
# last= 20+1=21

In [2]:
for i in range(3,19,3):
    print(i,end=' ')
    
# star= 3 
# step=: +ve 
# last=19-1=18

3 6 9 12 15 18

In [7]:
for i in range(3,19,-3):
        print(i,end=' ')
        
# start = 3
# step 2 = -ve 
#last = 19+1=20

In [6]:
for i in range (3,-19,3):
    print(i,end=' ')
# start=3
# step2=-ve
# last = 19+1=20

In [8]:
for i in range (3,-19,-3):
    print(i,end=' ')
    
# start = 3
# step = +ve direction
#last = -19-1=-18

3 0 -3 -6 -9 -12 -15 -18

In [9]:
for i in range (-3,19,3):
    print(i,end=' ')
    
# start = 3
# step = +ve direction
#last = 19-1=18

-3 0 3 6 9 12 15 18

In [10]:
for i in range (-3,-19,3):
    print(i,end=' ')
    
# start = 3
# step = -ve direction
#last = -19+1=-18

In [11]:
for i in range (-3,-19,-3):
    print(i,end=' ')
    
# start = 3
# step = -ve direction
#last = -19+1=-18

-3 -6 -9 -12 -15 -18

In [13]:
for i in range (-3,19,-3):
    print(i,end=' ')
    
# start = 3
# step = -ve direction
#last = 19+1=18

In [14]:
for i in range (19,3,-3):
    print(i,end=' ')
    
# start = 3
# step = +ve direction
#last = -3-1=4

19 16 13 10 7 4

In [21]:
for i in range (-19,3,-3):
    print(i,end=' ')
    
# start = 3
# step = -ve direction
#last = 3+1=4

In [18]:
for i in range (-19,-3,-3):
    print(i,end=' ')
    
# start = 3
# step = -ve direction
#last = -3+1=-4

In [19]:
for i in range (-19,3,3):
    print(i,end=' ')
    
# start = 3
# step = +ve direction
#last = 3-1=2

-19 -16 -13 -10 -7 -4 -1 2

In [20]:
for i in range (19,3,3):
    print(i,end=' ')
    
# start = 3
# step = -ve direction
#last = 3+1=4

In [ ]:
#Q1) wap to creat 9th table
#9*1=9

#9*10=90

In [1]:
for i in range(1,11):
    print("9x{i}=9x{i}")

9x{i}=9x{i}
9x{i}=9x{i}
9x{i}=9x{i}
9x{i}=9x{i}
9x{i}=9x{i}
9x{i}=9x{i}
9x{i}=9x{i}
9x{i}=9x{i}
9x{i}=9x{i}
9x{i}=9x{i}

In [4]:
for i in range(1,11):
    print(f"9x{i}={9*i}")

9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81
9x10=90

In [5]:
# Q7) wap to print the diviser of number 50
#  what is the meaning of diviser
# if 50 divided by 2 then the reminder is zero
# 2 is diviser of 50


# 50%1=0
#50%2=0
#50%3=0
#50%4=0
#50%5=0


#50%50=0

In [8]:
for i in range(1,51):
    if 50%i==0:
        print(i)  
        
        
# step=1: i=1 if 50%1==0 true print(1) : 1        
# step=2: i=2 if 50%2==0 trye print(2):2
# step=3: i=3 if 50%2==01 true print(3): 3

1
2
5
10
25
50

In [9]:
num=eval(input("enter the number which you want diviser:"))
for i in range(1,num+1):
    if num%i==0:
        print(i)

enter the number which you want diviser:6
1
2
3
6

In [13]:
def diviser():
    num=eval(input("enter the number which you want diviser:"))
    for i in range(1,num+1):
        if num%i==0:
             print(i)  
        

diviser()

enter the number which you want diviser:9
1
3
9

In [14]:
def diviser(num):
    for i in range(1,num+1):
        if num%i==0:
             print(i)  
        

diviser(72)

1
2
3
4
6
8
9
12
18
24
36
72

In [ ]:
#Q6) wap print he sum of first 10 naturel  numbers

In [37]:
summ=0
for i in range(1,11):
    summ=summ+i
    
print(f"the sum of first 10 naturel numbers are:",summ)

the sum of first 10 naturel numbers are: 55

- do not give variable name as sum

- if you do pirnt inside it will print every answer

- if print out side the last value will print

In [2]:
l=[1,2,3]
sum(l)

6

In [42]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

- not callabel, means remov the brackets

- bound method means add the brackets

- function means also add the brackets

**counter wrapper**

In [ ]:
# Q9) how many divisier are avalible for 50
# tell  the divisier : 1,2,5,10,25,50
# nom i want to print : the number of divisors are 6

In [51]:
count=0
num=eval(input("enter the number witch want divisor:"))
for i in range(1,11):
    if num%i==0:
        count=count+1
    
print(count)

enter the number witch want divisor:9
3

In [ ]:
summ=0
summ=summ+i


count=0
count=count+1

In [ ]:
#Q10) 
#  wap ask the user enter one number from keyboard
#   ask the user get the second number randamly from 1 to 20
#  if num1 == num2 then print you mon
#  otherwise print you lost
#  iterate these lines 3 times

In [5]:
num1=eval(input("enter the number:"))
num2=eval(input("enter the numbers :"))
num3=eval(input("enter the number:"))
for i in range(3):
    if num1==num2:
        print("you won:")
    else:
        print("you lost")

enter the number:9
enter the numbers :4
enter the number:5
you lost
you lost
you lost

In [58]:
# case-1
import random
for i in range(3):
    num1=random.randint(1,10)
    print(num1)
    num2=eval(input("enter the number:"))
    if num1==num2:
        print("you mon")
        break
else:
    print("you lost")

9
enter the number:9
you mon

In [ ]:
# today assignment 

# case-2 : give 5 chances
# whenver fail print the number of chances left

total_chance = 5
start = 1
for i in range(total_chance):
    if start <=  total_chance:
        print("the chance left {}".format(total_chance-i))
        start += 1
    else:
        print("no chances left")



# case -3 supose you all chances fail
# print your account locked try after 24 hours


start=0
for i in range(5):
    if start>=5:
        start=5-i
else:
     print(f"all chance over")
print(f"your account locked try  after 24 hours")

In [ ]:
# case-2 : give 5 chances
# whenver fail print the number of chances left

In [51]:
chance=5
start=1
for i in range(5):
    if start<=5:
        print(f"the chance left {5-i}")
else:
        print(f"no chances left")

the chance left 5
the chance left 4
the chance left 3
the chance left 2
the chance left 1
no chances left

In [12]:
# case-2 : give 5 chances
# whenver fail print the number of chances left

total_chance = 5
start = 1
for i in range(total_chance):
    if start <=  total_chance:
        print("the chance left {}".format(total_chance-i))
        start += 1
else:
    print("no chances left")

the chance left 5
the chance left 4
the chance left 3
the chance left 2
the chance left 1
no chances left

In [ ]:
# case -3 supose you all chances over
# print your account locked try after 24 hours

In [40]:
start=0
for i in range(5):
    if start>=5:
        start=5-i
else:
     print(f"all chance over")
print(f"your account locked try  after 24 hours")

all chance over
your account locked try  after 24 hours

In [7]:
import random
count=5
for i in range (5):
    n1=eval(input("enter the number:"))
    n2=1410
    if n1==n2:
        print("roght password:")
        
else:
    print(f"your account is blocked:")
    print(f"your account locked try  after 24 hours:")

enter the number:1452
enter the number:3563
enter the number:4785
enter the number:5896
enter the number:4586
your account is blocked:
your account locked try  after 24 hours:

In [20]:
import random
count=5
for i in range (5):
    n1=eval(input("enter the number:"))
    n2=1410
    if n1==n2:
        print("roght password:")
        break
        
    else:
        count=count-1
        print(f"incorrect password,please try again")
        if count ==0:
            print(f"your account locked try  after 24 hours:")

enter the number:1256
incorrect password,please try again
enter the number:1236
incorrect password,please try again
enter the number:1258
incorrect password,please try again
enter the number:6987
incorrect password,please try again
enter the number:1410
roght password:

In [12]:
import random 
count=5
for i in range(5):
    n1=eval(input("enter the number:"))
    n2=1410
    if n1==n2:
            print(f"password is right you logged in")
    
    
    else:
        count=count-1
        print(f"incorrect password please try again")
    if count==0:
        print(f"please check the password and try again:")
        print(f"you you have been blocked try again later:")
        print(f"your account is locked try after 24 hours")

enter the number:1254
incorrect password please try again
enter the number:2365
incorrect password please try again
enter the number:4587
incorrect password please try again
enter the number:5698
incorrect password please try again
enter the number:1263
incorrect password please try again
please check the password and try again:
you you have been blocked try again later:
your account is locked try after 24 hours

In [1]:
name="python"
"p" in name

True

In [3]:
name="python"
"p" in name
"y" in name
"t" in name
"H" in name

False

In [10]:
name='python'
'p' in name
'y' in name
't' in name
'h' in name
'o' in name
'n' in name
for i in name:
    print(i)

p
y
t
h
o
n

In [9]:
for i in name :
    print(i)

p
y
t
h
o
n

In [8]:
for i in 'name':
    print(i,end=' ')

n a m e

In [2]:
'A'=='a'

False

In [3]:
'A'>'a'

False

In [4]:
'a'<'A'

False

In [5]:
'a'>'A'

True

**ASCII**

- American standard code for information interchange

In [ ]:
'A':65  'B:66'
'a':97

**ord-chr**

- ord is the keyword witch provide ASCII number or characters

- char is the keyword  which provides charecters for given ASCII number

In [14]:
ord("A"),ord("a")

(65, 97)

In [17]:
chr(65),chr(97)

('A', 'a')

In [ ]:
# i want to get ascii number of A TO Z
# using for loop
  ord('A')
    ord ('B')
    ord('C')
    ord('D')
    

    ord(i)

**PACKAGE NAME String**

In [ ]:
for i in"abcdefghijklmnopqrstuvwxyz":

In [27]:
string.ascii_uppercase

NameError: name 'string' is not defined

In [26]:
for i in string.ascii_uppercase:
    print(f"the ASCII value of {i} is {ord(i)}:")

NameError: name 'string' is not defined

In [24]:
# i want to know how many ascii avalible
# 65 to 90  A-Z
# 97 -122    a-z


for i in range(65,90):
    print(i,chr(i))

65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y

In [31]:
for i in range(33,127):
    print(f"{i}:{chr(i)}",end=' ')

33:! 34:" 35:# 36:$ 37:% 38:& 39:' 40:( 41:) 42:* 43:+ 44:, 45:- 46:. 47:/ 48:0 49:1 50:2 51:3 52:4 53:5 54:6 55:7 56:8 57:9 58:: 59:; 60:< 61:= 62:> 63:? 64:@ 65:A 66:B 67:C 68:D 69:E 70:F 71:G 72:H 73:I 74:J 75:K 76:L 77:M 78:N 79:O 80:P 81:Q 82:R 83:S 84:T 85:U 86:V 87:W 88:X 89:Y 90:Z 91:[ 92:\ 93:] 94:^ 95:_ 96:` 97:a 98:b 99:c 100:d 101:e 102:f 103:g 104:h 105:i 106:j 107:k 108:l 109:m 110:n 111:o 112:p 113:q 114:r 115:s 116:t 117:u 118:v 119:w 120:x 121:y 122:z 123:{ 124:| 125:} 126:~

In [33]:
for i in range(500,1000):
    print(f"{i}:{chr(i)}",end=' ')

500:Ǵ 501:ǵ 502:Ƕ 503:Ƿ 504:Ǹ 505:ǹ 506:Ǻ 507:ǻ 508:Ǽ 509:ǽ 510:Ǿ 511:ǿ 512:Ȁ 513:ȁ 514:Ȃ 515:ȃ 516:Ȅ 517:ȅ 518:Ȇ 519:ȇ 520:Ȉ 521:ȉ 522:Ȋ 523:ȋ 524:Ȍ 525:ȍ 526:Ȏ 527:ȏ 528:Ȑ 529:ȑ 530:Ȓ 531:ȓ 532:Ȕ 533:ȕ 534:Ȗ 535:ȗ 536:Ș 537:ș 538:Ț 539:ț 540:Ȝ 541:ȝ 542:Ȟ 543:ȟ 544:Ƞ 545:ȡ 546:Ȣ 547:ȣ 548:Ȥ 549:ȥ 550:Ȧ 551:ȧ 552:Ȩ 553:ȩ 554:Ȫ 555:ȫ 556:Ȭ 557:ȭ 558:Ȯ 559:ȯ 560:Ȱ 561:ȱ 562:Ȳ 563:ȳ 564:ȴ 565:ȵ 566:ȶ 567:ȷ 568:ȸ 569:ȹ 570:Ⱥ 571:Ȼ 572:ȼ 573:Ƚ 574:Ⱦ 575:ȿ 576:ɀ 577:Ɂ 578:ɂ 579:Ƀ 580:Ʉ 581:Ʌ 582:Ɇ 583:ɇ 584:Ɉ 585:ɉ 586:Ɋ 587:ɋ 588:Ɍ 589:ɍ 590:Ɏ 591:ɏ 592:ɐ 593:ɑ 594:ɒ 595:ɓ 596:ɔ 597:ɕ 598:ɖ 599:ɗ 600:ɘ 601:ə 602:ɚ 603:ɛ 604:ɜ 605:ɝ 606:ɞ 607:ɟ 608:ɠ 609:ɡ 610:ɢ 611:ɣ 612:ɤ 613:ɥ 614:ɦ 615:ɧ 616:ɨ 617:ɩ 618:ɪ 619:ɫ 620:ɬ 621:ɭ 622:ɮ 623:ɯ 624:ɰ 625:ɱ 626:ɲ 627:ɳ 628:ɴ 629:ɵ 630:ɶ 631:ɷ 632:ɸ 633:ɹ 634:ɺ 635:ɻ 636:ɼ 637:ɽ 638:ɾ 639:ɿ 640:ʀ 641:ʁ 642:ʂ 643:ʃ 644:ʄ 645:ʅ 646:ʆ 647:ʇ 648:ʈ 649:ʉ 650:ʊ 651:ʋ 652:ʌ 653:ʍ 654:ʎ 655:ʏ 656:ʐ 657:ʑ 658:ʒ 659:ʓ 660:ʔ 661:ʕ 662:ʖ 663:ʗ 664:ʘ 665:ʙ 666:ʚ 667:ʛ 668:ʜ 669:ʝ 670:ʞ 671:ʟ 672:ʠ 673:ʡ 674:ʢ 675:ʣ 676:ʤ 677:ʥ 678:ʦ 679:ʧ 680:ʨ 681:ʩ 682:ʪ 683:ʫ 684:ʬ 685:ʭ 686:ʮ 687:ʯ 688:ʰ 689:ʱ 690:ʲ 691:ʳ 692:ʴ 693:ʵ 694:ʶ 695:ʷ 696:ʸ 697:ʹ 698:ʺ 699:ʻ 700:ʼ 701:ʽ 702:ʾ 703:ʿ 704:ˀ 705:ˁ 706:˂ 707:˃ 708:˄ 709:˅ 710:ˆ 711:ˇ 712:ˈ 713:ˉ 714:ˊ 715:ˋ 716:ˌ 717:ˍ 718:ˎ 719:ˏ 720:ː 721:ˑ 722:˒ 723:˓ 724:˔ 725:˕ 726:˖ 727:˗ 728:˘ 729:˙ 730:˚ 731:˛ 732:˜ 733:˝ 734:˞ 735:˟ 736:ˠ 737:ˡ 738:ˢ 739:ˣ 740:ˤ 741:˥ 742:˦ 743:˧ 744:˨ 745:˩ 746:˪ 747:˫ 748:ˬ 749:˭ 750:ˮ 751:˯ 752:˰ 753:˱ 754:˲ 755:˳ 756:˴ 757:˵ 758:˶ 759:˷ 760:˸ 761:˹ 762:˺ 763:˻ 764:˼ 765:˽ 766:˾ 767:˿ 768:̀ 769:́ 770:̂ 771:̃ 772:̄ 773:̅ 774:̆ 775:̇ 776:̈ 777:̉ 778:̊ 779:̋ 780:̌ 781:̍ 782:̎ 783:̏ 784:̐ 785:̑ 786:̒ 787:̓ 788:̔ 789:̕ 790:̖ 791:̗ 792:̘ 793:̙ 794:̚ 795:̛ 796:̜ 797:̝ 798:̞ 799:̟ 800:̠ 801:̡ 802:̢ 803:̣ 804:̤ 805:̥ 806:̦ 807:̧ 808:̨ 809:̩ 810:̪ 811:̫ 812:̬ 813:̭ 814:̮ 815:̯ 816:̰ 817:̱ 818:̲ 819:̳ 820:̴ 821:̵ 822:̶ 823:̷ 824:̸ 825:̹ 826:̺ 827:̻ 828:̼ 829:̽ 830:̾ 831:̿ 832:̀ 833:́ 834:͂ 835:̓ 836:̈́ 837:ͅ 838:͆ 839:͇ 840:͈ 841:͉ 842:͊ 843:͋ 844:͌ 845:͍ 846:͎ 847:͏ 848:͐ 849:͑ 850:͒ 851:͓ 852:͔ 853:͕ 854:͖ 855:͗ 856:͘ 857:͙ 858:͚ 859:͛ 860:͜ 861:͝ 862:͞ 863:͟ 864:͠ 865:͡ 866:͢ 867:ͣ 868:ͤ 869:ͥ 870:ͦ 871:ͧ 872:ͨ 873:ͩ 874:ͪ 875:ͫ 876:ͬ 877:ͭ 878:ͮ 879:ͯ 880:Ͱ 881:ͱ 882:Ͳ 883:ͳ 884:ʹ 885:͵ 886:Ͷ 887:ͷ 888:͸ 889:͹ 890:ͺ 891:ͻ 892:ͼ 893:ͽ 894:; 895:Ϳ 896:΀ 897:΁ 898:΂ 899:΃ 900:΄ 901:΅ 902:Ά 903:· 904:Έ 905:Ή 906:Ί 907:΋ 908:Ό 909:΍ 910:Ύ 911:Ώ 912:ΐ 913:Α 914:Β 915:Γ 916:Δ 917:Ε 918:Ζ 919:Η 920:Θ 921:Ι 922:Κ 923:Λ 924:Μ 925:Ν 926:Ξ 927:Ο 928:Π 929:Ρ 930:΢ 931:Σ 932:Τ 933:Υ 934:Φ 935:Χ 936:Ψ 937:Ω 938:Ϊ 939:Ϋ 940:ά 941:έ 942:ή 943:ί 944:ΰ 945:α 946:β 947:γ 948:δ 949:ε 950:ζ 951:η 952:θ 953:ι 954:κ 955:λ 956:μ 957:ν 958:ξ 959:ο 960:π 961:ρ 962:ς 963:σ 964:τ 965:υ 966:φ 967:χ 968:ψ 969:ω 970:ϊ 971:ϋ 972:ό 973:ύ 974:ώ 975:Ϗ 976:ϐ 977:ϑ 978:ϒ 979:ϓ 980:ϔ 981:ϕ 982:ϖ 983:ϗ 984:Ϙ 985:ϙ 986:Ϛ 987:ϛ 988:Ϝ 989:ϝ 990:Ϟ 991:ϟ 992:Ϡ 993:ϡ 994:Ϣ 995:ϣ 996:Ϥ 997:ϥ 998:Ϧ 999:ϧ

In [7]:
import string.
string.ascii_uppercase()

SyntaxError: invalid syntax (194094405.py, line 1)

In [36]:
for i in range(3077,3419):
    print(f"{i}:{chr(i)}",end=' ')

3077:అ 3078:ఆ 3079:ఇ 3080:ఈ 3081:ఉ 3082:ఊ 3083:ఋ 3084:ఌ 3085:఍ 3086:ఎ 3087:ఏ 3088:ఐ 3089:఑ 3090:ఒ 3091:ఓ 3092:ఔ 3093:క 3094:ఖ 3095:గ 3096:ఘ 3097:ఙ 3098:చ 3099:ఛ 3100:జ 3101:ఝ 3102:ఞ 3103:ట 3104:ఠ 3105:డ 3106:ఢ 3107:ణ 3108:త 3109:థ 3110:ద 3111:ధ 3112:న 3113:఩ 3114:ప 3115:ఫ 3116:బ 3117:భ 3118:మ 3119:య 3120:ర 3121:ఱ 3122:ల 3123:ళ 3124:ఴ 3125:వ 3126:శ 3127:ష 3128:స 3129:హ 3130:఺ 3131:఻ 3132:఼ 3133:ఽ 3134:ా 3135:ి 3136:ీ 3137:ు 3138:ూ 3139:ృ 3140:ౄ 3141:౅ 3142:ె 3143:ే 3144:ై 3145:౉ 3146:ొ 3147:ో 3148:ౌ 3149:్ 3150:౎ 3151:౏ 3152:౐ 3153:౑ 3154:౒ 3155:౓ 3156:౔ 3157:ౕ 3158:ౖ 3159:౗ 3160:ౘ 3161:ౙ 3162:ౚ 3163:౛ 3164:౜ 3165:ౝ 3166:౞ 3167:౟ 3168:ౠ 3169:ౡ 3170:ౢ 3171:ౣ 3172:౤ 3173:౥ 3174:౦ 3175:౧ 3176:౨ 3177:౩ 3178:౪ 3179:౫ 3180:౬ 3181:౭ 3182:౮ 3183:౯ 3184:౰ 3185:౱ 3186:౲ 3187:౳ 3188:౴ 3189:౵ 3190:౶ 3191:౷ 3192:౸ 3193:౹ 3194:౺ 3195:౻ 3196:౼ 3197:౽ 3198:౾ 3199:౿ 3200:ಀ 3201:ಁ 3202:ಂ 3203:ಃ 3204:಄ 3205:ಅ 3206:ಆ 3207:ಇ 3208:ಈ 3209:ಉ 3210:ಊ 3211:ಋ 3212:ಌ 3213:಍ 3214:ಎ 3215:ಏ 3216:ಐ 3217:಑ 3218:ಒ 3219:ಓ 3220:ಔ 3221:ಕ 3222:ಖ 3223:ಗ 3224:ಘ 3225:ಙ 3226:ಚ 3227:ಛ 3228:ಜ 3229:ಝ 3230:ಞ 3231:ಟ 3232:ಠ 3233:ಡ 3234:ಢ 3235:ಣ 3236:ತ 3237:ಥ 3238:ದ 3239:ಧ 3240:ನ 3241:಩ 3242:ಪ 3243:ಫ 3244:ಬ 3245:ಭ 3246:ಮ 3247:ಯ 3248:ರ 3249:ಱ 3250:ಲ 3251:ಳ 3252:಴ 3253:ವ 3254:ಶ 3255:ಷ 3256:ಸ 3257:ಹ 3258:಺ 3259:಻ 3260:಼ 3261:ಽ 3262:ಾ 3263:ಿ 3264:ೀ 3265:ು 3266:ೂ 3267:ೃ 3268:ೄ 3269:೅ 3270:ೆ 3271:ೇ 3272:ೈ 3273:೉ 3274:ೊ 3275:ೋ 3276:ೌ 3277:್ 3278:೎ 3279:೏ 3280:೐ 3281:೑ 3282:೒ 3283:೓ 3284:೔ 3285:ೕ 3286:ೖ 3287:೗ 3288:೘ 3289:೙ 3290:೚ 3291:೛ 3292:೜ 3293:ೝ 3294:ೞ 3295:೟ 3296:ೠ 3297:ೡ 3298:ೢ 3299:ೣ 3300:೤ 3301:೥ 3302:೦ 3303:೧ 3304:೨ 3305:೩ 3306:೪ 3307:೫ 3308:೬ 3309:೭ 3310:೮ 3311:೯ 3312:೰ 3313:ೱ 3314:ೲ 3315:ೳ 3316:೴ 3317:೵ 3318:೶ 3319:೷ 3320:೸ 3321:೹ 3322:೺ 3323:೻ 3324:೼ 3325:೽ 3326:೾ 3327:೿ 3328:ഀ 3329:ഁ 3330:ം 3331:ഃ 3332:ഄ 3333:അ 3334:ആ 3335:ഇ 3336:ഈ 3337:ഉ 3338:ഊ 3339:ഋ 3340:ഌ 3341:഍ 3342:എ 3343:ഏ 3344:ഐ 3345:഑ 3346:ഒ 3347:ഓ 3348:ഔ 3349:ക 3350:ഖ 3351:ഗ 3352:ഘ 3353:ങ 3354:ച 3355:ഛ 3356:ജ 3357:ഝ 3358:ഞ 3359:ട 3360:ഠ 3361:ഡ 3362:ഢ 3363:ണ 3364:ത 3365:ഥ 3366:ദ 3367:ധ 3368:ന 3369:ഩ 3370:പ 3371:ഫ 3372:ബ 3373:ഭ 3374:മ 3375:യ 3376:ര 3377:റ 3378:ല 3379:ള 3380:ഴ 3381:വ 3382:ശ 3383:ഷ 3384:സ 3385:ഹ 3386:ഺ 3387:഻ 3388:഼ 3389:ഽ 3390:ാ 3391:ി 3392:ീ 3393:ു 3394:ൂ 3395:ൃ 3396:ൄ 3397:൅ 3398:െ 3399:േ 3400:ൈ 3401:൉ 3402:ൊ 3403:ോ 3404:ൌ 3405:് 3406:ൎ 3407:൏ 3408:൐ 3409:൑ 3410:൒ 3411:൓ 3412:ൔ 3413:ൕ 3414:ൖ 3415:ൗ 3416:൘ 3417:൙ 3418:൚

In [ ]:
string='mohith'
string=asc