- how to display 

- type

- len

- max

- min

- sum

- reversed

- sorted

- in

- not in

- index

- forloop

- mutable

- slice

- concatenation

- methods

In [17]:
list1=[1,2,3,4] # array of elements

list1

[1, 2, 3, 4]

In [18]:
type(list1)

list

In [19]:
list2=['Apple','Ball','Cat']
list2

['Apple', 'Ball', 'Cat']

In [20]:
list3=[1,2,3,'Apple','Ball','Cat']
list3

[1, 2, 3, 'Apple', 'Ball', 'Cat']

In [21]:
list4=[1,'Apple',10.5,True]
list4

[1, 'Apple', 10.5, True]

In [22]:
list5=[100,100,100]
list5

[100, 100, 100]

In [23]:
list6=['Apple','Ball',[1,2,3]]
list6

['Apple', 'Ball', [1, 2, 3]]

- List items can be heterigeous

- which means list items can be all data types

- list items vcan be duplicate

     - which means  list can have same value multipule times

- list can have anthoer list inside:list in list

In [2]:
list1=[1,2,3,4]
list2=['Apple','Ball','Cat']
list3=[1,2,3,'Apple','Ball','Cat']
list4=[1,'Apple',10.5,True]
list5=[100,100,100]
list6=['Apple','Ball',[1,2,3]]

**type**

In [3]:
len(list1)

4

In [8]:
max(list1),min(list1)

(4, 1)

In [9]:
max(list2),min(list2)

('Cat', 'Apple')

In [10]:
list3

[1, 2, 3, 'Apple', 'Ball', 'Cat']

In [11]:
len(list3)

6

In [12]:
# type()
# len()
# min()
# max()
sorted(list1,reverse=True)

[4, 3, 2, 1]

In [13]:
val=reversed(list1)
for i in val:
    print(i)

4
3
2
1

In [14]:
list3

[1, 2, 3, 'Apple', 'Ball', 'Cat']

In [15]:
# sorted(list3)
for i in reversed(list3):
    print(i)

Cat
Ball
Apple
3
2
1

In [16]:
1 in (list1)
2 in (list1)
3 in list1
33 in list1
33 not in list1

True

In [17]:
1 in (list1)
2 in (list1)
3 in list1

for i in list1:
    print(i)

1
2
3
4

In [18]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [19]:
for i in '123456':
    print(i)

1
2
3
4
5
6

In [ ]:
-7 -6 -5 -4 -3 -2 -1
1   2  3  4  5  6  7
0   1  2  3  4  5  6

In [21]:
list1=[10,20,30,40,50,60]
list1[0],list1[1],list1[2]

(10, 20, 30)

In [22]:
list1='hello python'
n=len(list1)
for i in range(n):
    print(i,list1[i])

0 h
1 e
2 l
3 l
4 o
5
6 p
7 y
8 t
9 h
10 o
11 n

In [23]:
list1='hello python'
n=len(list1)
for i in range(-n,0):
    print(i,list1[i])

-12 h
-11 e
-10 l
-9 l
-8 o
-7
-6 p
-5 y
-4 t
-3 h
-2 o
-1 n

In [24]:
list1='hello python'
n=len(list1)
for i in range(n):
    print(i,list1[i] )

0 h
1 e
2 l
3 l
4 o
5
6 p
7 y
8 t
9 h
10 o
11 n

In [25]:
list1=[[1]]
list1[0]

[1]

In [26]:
list1=[1,2,3,[10]]
list1[3][0]

10

In [27]:
list1=[1,2,3,['A',['B']]]
len(list1)

4

In [28]:
list1[3][1][0]

'B'

In [29]:
list1=[1,2,3,['Apple',['Fruites',['Cherry']]]]
len(list1[3])

2

In [30]:
list1[3][1][1][0]

'Cherry'

In [31]:
list1=[[[1,2,3,['Apple',['Fruites',['Mango',['Cherry']]]]]]]
len(list1)

1

In [32]:
list1[0][0][3][1][1][0],list1[0][0][3][1][1][1][0]

('Mango', 'Cherry')

In [33]:
list1=[[[[[[[[['Orange']]]]]]]]]
len(list1)

1

In [34]:
list1[0][0][0][0][0][0][0][0][0]

'Orange'

In [35]:
list1=[[[[[[[['Fruites',[[['Banana']]]]]]]]]]]

In [36]:
list1[0][0][0][0][0][0][0][1][0][0][0]

'Banana'

In [37]:
list1=[[[1,2,3,['Apple',['Fruites',['Mango',['Cherry',['strawberry']]]]]]]]

In [38]:
list1[0][0][3][1][1][1][1][0]

'strawberry'

# mutable- immutable

In [39]:
3**3

27

In [40]:
3*1**3

3

- python mutable conceps always based on index

- list of mutable means we can chaing the values using index

In [41]:
l=[1,2,3,4]
l[0]=100
l

[100, 2, 3, 4]

# cancatenation

In [42]:
l1=[1,2,3,4]
l2=[10,20,30,40]
l1+l2

[1, 2, 3, 4, 10, 20, 30, 40]

In [43]:
l1*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [44]:
# l1=[1,2,3]
# l2=[10,20,30]
# o=[11,22,33]



# l1=[1,2,3]
# l2=[10,20,30,40]
# o=[11,22,33,40]

# l1=[1,2,3,4]
# l2=[10,20,30]
# o=[11,22,33,4]

# methods

In [45]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

# Append

- append means adding a number at the end of the list

- append is a very basic method we will use many times in our code

- append will use mainly to store the result

- append the values overwrite

In [12]:
number=['one','two','three','four','five']
number['four']

TypeError: list indices must be integers or slices, not str

In [13]:
number[3]

'four'

In [14]:
l=[1,2,3,4]
l.append(100)
l

[1, 2, 3, 4, 100]

In [ ]:
l=[1,2,3,4]

In [16]:
l.append(100)
l

[1, 2, 3, 4, 100, 100, 100]

In [18]:
l=[]
l.append(10)
l.append('apple')
l

[10, 'apple']

In [24]:
s=' '
s1=s+'p'
s,s1

(' ', ' p')

In [ ]:
# 1 wap ask the uiser print first 1 to 5 numbers  squer
#   save the result in a list

In [18]:
l=[]
for i in range(1,6):
    l.append(i*i)

In [19]:
l

[1, 4, 9, 16, 25]

In [ ]:
#Q2) the list =['Hyd','blr','Chennai','pune']
#  out= ['Hyd','Chennai']

# is title
#step-1:make in empty list
# step-2: iterate each ward from list
# step-3: apply is title method if condition
#step-4: if that condition is satisfy
# step-5: then append the result  in empty list

In [34]:
'Hyd'.istitle()

True

In [37]:
l1=['Hyd','blr','Chennai','pune']
out=[]
for i in l1 :
    if i .istitle():
        out.append(i)
out

['Hyd', 'Chennai']

In [ ]:
# Q3)  the list =['Hyd','blr','Chennai','pune']
#  out= ['Hyd','Chennai']

In [40]:
dir=('HYD','blr','Chennai','PUNNE')
out=[]
for i in dir:
    if i.isupper():
        out.append(i)
out

['HYD', 'PUNNE']

In [ ]:
 # Q3) the list =['Hyd','bl#r','Che#nnai','pune']
#  out= ['bl#r','Che#nnai']

In [44]:
l1=['Hyd','bl#r','Che#nnai','pune']
out=[]
for i in l1:
    if '#' in i:
        out.append(i)
out

['bl#r', 'Che#nnai']

In [ ]:
#Q5) the list =['HYD','blr','Chennai','PUNNE']
#  out= ['Chennai']
# >4

In [45]:
l1=['HYD','blr','Chennai','PUNNE']
out=[]
for i in l1:
    if len(i)>4:
        out. append(i)
out

['Chennai', 'PUNNE']

In [ ]:
#Q6)' can canner can not a can but canner can you make a can'
# find out the each word how main times repeated

#step-1: spilt it
#step-2: itaretive it
#step-3: we have count methode( count shuold not use)

In [98]:
s='can canner can not a can but canner can you make a can'
l=s.split()
for i in l:
    count=0
    for j in l:
        if i==j:
            count=count+1
        print(i,count)

can 1
can 1
can 2
can 2
can 2
can 3
can 3
can 3
can 4
can 4
can 4
can 4
can 5
canner 0
canner 1
canner 1
canner 1
canner 1
canner 1
canner 1
canner 2
canner 2
canner 2
canner 2
canner 2
canner 2
can 1
can 1
can 2
can 2
can 2
can 3
can 3
can 3
can 4
can 4
can 4
can 4
can 5
not 0
not 0
not 0
not 1
not 1
not 1
not 1
not 1
not 1
not 1
not 1
not 1
not 1
a 0
a 0
a 0
a 0
a 1
a 1
a 1
a 1
a 1
a 1
a 1
a 2
a 2
can 1
can 1
can 2
can 2
can 2
can 3
can 3
can 3
can 4
can 4
can 4
can 4
can 5
but 0
but 0
but 0
but 0
but 0
but 0
but 1
but 1
but 1
but 1
but 1
but 1
but 1
canner 0
canner 1
canner 1
canner 1
canner 1
canner 1
canner 1
canner 2
canner 2
canner 2
canner 2
canner 2
canner 2
can 1
can 1
can 2
can 2
can 2
can 3
can 3
can 3
can 4
can 4
can 4
can 4
can 5
you 0
you 0
you 0
you 0
you 0
you 0
you 0
you 0
you 0
you 1
you 1
you 1
you 1
make 0
make 0
make 0
make 0
make 0
make 0
make 0
make 0
make 0
make 0
make 1
make 1
make 1
a 0
a 0
a 0
a 0
a 1
a 1
a 1
a 1
a 1
a 1
a 1
a 2
a 2
can 1
can 1
can 2
can 2
can 2
can 3
can 3
can 3
can 4
can 4
can 4
can 4
can 5

In [101]:
str='can canner can not a can but canner can you make a can'
str=str.split()
str1=[]
for i in str:
    if i not in str1:
        str1.append(i)
for i in range(0,len(str1)):
    print('repeted times is ',str1[i],'is:',str.count(str1[i]))

repeted times is  can is: 5
repeted times is  canner is: 2
repeted times is  not is: 1
repeted times is  a is: 2
repeted times is  but is: 1
repeted times is  you is: 1
repeted times is  make is: 1

In [69]:
#Q7) wap ask the user get the even and odd numbers
# you want 5 numbers
# 5 numbers  randemly
# even list and odd list
# append the even numbers  s even list
# append the odd nubers  is odd list

In [83]:
import random
even_list=[]
odd_list=[]
for i in range(1,6):
    num=random.randint(1,100)
    if num%2==0:
        even_list.append(num)
else:
    odd_list.append(num)
print('even:',even_list)
print('odd:', odd_list)

even: [50, 92, 60]
odd: [60]

In [ ]:
'clear',
 'copy',
 'count',
 'extend',
 'index',

***clear***

In [71]:
l1=[10,20,'apple','banana']
l1.clear()
l1

[]

***copy***

In [72]:
l1=['apple','banana']
l1.copy()
l1

['apple', 'banana']

***count***

In [73]:
l1=[1,2,1,2,3]
l1.count(2)
l1

[1, 2, 1, 2, 3]

***extend***

In [74]:
l1=[10,20,30]
l1.extend('banana')
l1.extend('apple')
l1

[10, 20, 30, 'b', 'a', 'n', 'a', 'n', 'a', 'a', 'p', 'p', 'l', 'e']

***index***

In [1]:
l1=['apple','banana','cherry','mango']
l1=l1.index('cherry')
l1

2

In [ ]:
# l=['apple','cat','dog','ball']
# sort it with out sort method


# l=[10,15,2,25,89]
#  find the maximum word find the minumum word


l1=[1,2,3,4]
l2=[10,20,30,40]
out=[11,22,33,44]



l1=[1,2,3,4,5]
l2=[10,20,30,40]
out=[11,22,33,44,5]


s='hello hoe are you im good at python in naresh it'
find the maxmum  length of word
find the minimum length of word
find the most repeted word

***list comprehensions***

In [14]:
# 1 wap ask the uiser print first 1 to 5 numbers  squer
#   save the result in a list

l=[]
for i in range(1,6):
    l.append(i*i)

$pettern-1$

**only for loop**

In [ ]:
# syntax

l=[<output> <forloop>]

In [16]:
l=[]
for i in range(1,6):
    l.append(i*i)
    
l1=[i*i for i in range(1,6)]

In [18]:
l1

[1, 4, 9, 16, 25]

In [ ]:
# wap ask the user say 5 times hello
# save hello in list 
# use list comprehensions

In [21]:
['hello' for i in range(5)]

['hello', 'hello', 'hello', 'hello', 'hello']

**for loop with if condition**

In [ ]:
[<output>_<forloop>_<if condition>]

In [29]:
#Q2) the list =['Hyd','blr','Chennai','pune']
#  out= ['Hyd','Chennai']

# is title
#step-1:make in empty list
# step-2: iterate each ward from list
# step-3: apply is title method if condition
#step-4: if that condition is satisfy
# step-5: then append the result  in empty list




# [<output>_<forloop>_<if condition>]
l1=['Hyd','blr','Chennai','pune']
out=[i for i in l if i.istitle()]
out

['Hyd']

In [27]:
l=['Hyd','blr','chennai','pune']
out=[i for i in l if i.istitle()]
out

['Hyd']

In [ ]:
 # Q3) the list =['Hyd','bl#r','Che#nnai','pune']
#  out= ['bl#r','Che#nnai']



l1=['Hyd','bl#r','Che#nnai','pune']
out=[]
for i in l1:
    if '#' in i:
        out.append(i)
out

In [32]:
l=['Hyd','bl#r','Che#nnai','pune']
out=[i for i in l if '#' in i]
out

['bl#r', 'Che#nnai']

**for-if-else**

In [36]:
#[<if out_put> <if condition> <else> <else_output> <forloop>]
out=[]
for i in range(1,11):
    if i%2==0:
        out.append(f'even {i}')
    else:
        out.append(f'odd {i}')
out

['odd 1',
 'even 2',
 'odd 3',
 'even 4',
 'odd 5',
 'even 6',
 'odd 7',
 'even 8',
 'odd 9',
 'even 10']

In [43]:
[f'even{i}' if i%2==0 else f'odd{i}' for i in range(1,11)]

['odd1',
 'even2',
 'odd3',
 'even4',
 'odd5',
 'even6',
 'odd7',
 'even8',
 'odd9',
 'even10']

In [47]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**count**

In [48]:
l=[10,10,10,100,200,300]
l.count(10)

3

In [ ]:
# can canner can not a can but canner can you make a can'
# find out the each word how main times repeated

#step-1: spilt it

In [90]:
s='can canner can not a can but canner can you make a can'
l=s.split()
l1=[]
for i in l:
    if i not in l1:
        print(i,l.count(i))
    l1.append(i)
    
# step-1: 'i=can' if 'can' not in l1 True  print ('can,5' ) l1=('can')
#step-3 : i='can' if ' can' not in l1 False

can 5
canner 2
not 1
a 2
but 1
you 1
make 1

**extend**

In [70]:
l1=[1,2,3,4]
l2=['a','b','c','d']
l2.extend(l1)
l2

['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [ ]:
l1=[1,2,3]
l2=['a','b','c','d']
l1.extend(l2)  #[1,2,3,a,b,c,d]
l1=append(l2)  #(1,2,3,[a,b,c])
l1+l2

**differnce between extend and concatenation**

- extend will overwrite the output

- cancatenmation will same as it is

In [ ]:
'insert'
'pop'
'remove'

In [71]:
l=[1,2,3,4]
l.append(100)
l

[1, 2, 3, 4, 100]

In [73]:
l=[1,2,3,4]
l.insert(3,100)
l

# at same index i want insert 100

[1, 2, 3, 100, 4]

In [ ]:
# cancatenation
# extend
# append
# insert

In [74]:
l=[i for i in range(1,20,3)]
l

# i want insert 'apple'after 10
# after 10 mean index=4
# we should not count it
# autometically the index value should come
index=l.index(10)
l.insert(index+1,'apple')
l

[1, 4, 7, 10, 'apple', 13, 16, 19]

In [75]:
l.index(10)

3

**pop-remove**

In [76]:
l=['apple','ball','cat',10,20,'dog']
l.pop()

'dog'

- pop will remove the last value

- inside pop we have index argument

- by default index=-1 , -1 means lest value

- pop will remove the value, the out put will overwrite

- pop also return the item value, which it ie removing

In [14]:
l=['apple','ball','cat',10,20,'dog']
l.pop(2)
l

['apple', 'ball', 10, 20, 'dog']

In [15]:
l=['apple','ball','cat',10,20,'dog']
id=l.index('cat')
l.pop(id)
l

['apple', 'ball', 10, 20, 'dog']

In [ ]:
l=['apple','ball','cat',10,20,'dog']
l.pop()


l=['apple','ball','cat',10,20,'dog']
l.pop(2)
l


l=['apple','ball','cat',10,20,'dog']
id=l.index('cat')
l.pop(id)
l

**remove**

In [16]:
l=['apple','ball','cat',10,20,'dog']
l.remove('apple')
l

['ball', 'cat', 10, 20, 'dog']

- remove will take the direct item name

- pop will take only the index

- both raise the error

- append

- extend

- insert

- clear/copy

- pop/remove

- sort/reverse

- index

-  count

***sorted-sort***

In [2]:
sorted([10,2,3,4])

[2, 3, 4, 10]

In [5]:
[10,2,3,4].sort()

In [7]:
reversed([1,2,3])

In [6]:
[1,2,3,4].reverse()

In [9]:
l=[1,2,3,4]
l.reverse()
l

[4, 3, 2, 1]

In [ ]:
l=[10,2,3,4]
#sort is a method     # l.sort()
# sorted is a keyword   # sorted(l)

In [10]:
sorted(l)

[1, 2, 3, 4]

- key word are generic

- sorted and reverse keyword can use for string and lists

- every data type has its own methods

- whenver you work on which data type you need to work on those methods only

***Del***

In [12]:
l=[1,2,3,4]
del(l[0])
l

[2, 3, 4]

In [6]:
l=[1,2,3,4]
del(l[2])
l

[1, 2, 4]

In [7]:
l

[1, 2, 4]

***zip***

In [19]:
l1=[1,2,3]
l2=[10,12,13]

# out=[11,14,16]

out=[]
for i in range(len(l1)):
    l1[i]+l2[i]
    out.append(l1[i]+l2[i])
out

[11, 14, 16]

In [24]:
# l1=[1,2,3]
# l2=[10,12,13]
# for i,j in zip(l1,l2):
#    print(i+j)
    
out=[i+j for i,j in zip(l1,l2)]  
out

[11, 14, 16]

In [25]:
# tupel
l=(1,2)
type(l)

tuple

In [30]:
t=(1,2,3,4,4)
t.count(4)

2