- strings

- lists

- dictionry

- tuples

- sets

- lambda function

- file handling

## string 

- string can intilazition in three ways

- single quotes

   - very comen way to present

- double quotes

   - double quotes also very common way to present
   
- triple quoties

   - triple quotes means **doc string**

In [3]:
str1='python'
str1

'python'

In [4]:
type(str1)

str

In [ ]:
str2='python'
str3='10.5'
str4='10'
str5='true'
str6="&$"

**triple quotes**

- triple quotes is used to convey the information

- it is called as **Doc string**

- it is also calleds  as **multiline**

In [7]:
str7="""Hello how are you
      im good"""
print(str7)

Hello how are you
      im good

In [8]:
str8= "i like 'python'"
str8

"i like 'python'"

In [3]:
str8='i like python'
str8

'i like python'

- type

- print

- len

- mex

- min

- reversed

- sorted

- in 

- index

- slice

**type**

- type is a keyword, it will give the type of value

In [9]:
str1="python"
type(str1)

str

***what is the difference between keywords and package methods***
 
- keyword is reserved word

-  differnt methods are availble on different package

- we have limited keywords are there : 35 keyword are there
    these fixed
    
   - whenver any  keyword : keyword(value)
        
- before  keyword there is another statement

- there is  no dot before keyboard
        eval()
    
        input()
        
        type
        
        range
        
        print
        
- if you want to use method from package

     - you need to import the package

     - or packageme methodname




import random
random.randint

In [ ]:
eval()
input()
type()
print()

random.randint
time.sleep

**len**

In [5]:
str1='python'
len(str1), len('neresh it')

(6, 9)

In [6]:
len(' ')

1

**max**

- it will  retrive the meximu charcter based on ascii value

In [7]:
s1='python'
max(s1)

'y'

In [14]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

**min**

- it will  retrive the miximum charcter based on ascii value

In [15]:
s1='python'
min(s1)

'h'

**sum**

- it will return the sum of the value

- it will not works for string

In [ ]:
sum("123")

**reversed**

In [16]:
reversed('python')

In [17]:
str1=reversed('python')
for i in str1:
    print(i)

n
o
h
t
y
p

**note**

- whwnver you see the output  between inside greter then  less then symbol

- mens the output is stored inside that

- it is nothing bet a **iterater**

- iterete mens the output we can see using loop only

**sorted**

- will give the output ascending order or desending order based on ascii values

- sorted has onr argument called reverse

- reverse is a default argument with value false

- false means it return in ascending order

- ascending mens small to big

- now give reverse =True and check the order

- it should be desendeing order

- descending meang bigs to small

In [21]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [19]:
sorted('python')

# [104,110,111,112,116,121]

['h', 'n', 'o', 'p', 't', 'y']

In [22]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [24]:
sorted(iterable='python',reverse=True)

# if you see any /
# do not assign any argument before the slash

TypeError: sorted expected 1 argument, got 0

In [33]:
complex()# it is written
complex(2,3) # w
complex(real=2,image=3)# w
complex(real=2,3)    # f
complex(2,image=3)  # w

TypeError: 'image' is an invalid keyword argument for complex()

In [35]:
complex(2,3)

(2+3j)

In [ ]:
import random
random.randint() # w
random,randint(10,20) # w
random.randint(a=10,b=20) #w
random.randint(c=20,d=50)# f
random,randint(a=10,20)
random,randint(10,b=20)

# in

In [2]:
#q1)  wap ask the user get the number of 'a' in a given string
str1='hello how are you,im anand'
# count=0
# iterate through each letter
# if then letter equal to 'a'
# then count =count+1

count=3
for i in str1:
    if i=='a':
        print(i)
print(count)        
# step=1: i='e' if 'e'=='a' True

a
a
a
3

- intilisation of string

- type

- print

- len

- min

- max

- sorted

- reversed

- in

**index**

In [3]:
str1='hello python'

# in python index start with zero

str1[0]
str1[1]
str1[2]
str1[3]


str1[i]

'h'

In [ ]:
h  e  l  l  o     p  y  t  h   o  n
0  1  2  3  4  5  6  7  8  9  10  11

In [5]:
len(str1)

12

In [4]:
for i in range(12):
    print(i,str1[i])

0 h
1 e
2 l
3 l
4 o
5
6 p
7 y
8 t
9 h
10 o
11 n

In [6]:
str1='naresh it'
n=len(str1)
for i in range(n):
    print(i,str1[i])

0 n
1 a
2 r
3 e
4 s
5 h
6
7 i
8 t

In [ ]:
 # -12 -11 -10 -9  -8 -7 -6 -5 -4 -3 -2 -1
 #   h   e   l   l   o     p  y  t  h   o  n
 #   0    1   2   3  4  5  6  7  8  9  10  11

In [8]:
str1='hello python'
str1[-12],str1[0]

('h', 'h')

In [9]:
str1[-12]
str1[-11]
str1[-10]

# hello python
# -12  -1

'l'

In [10]:
for i in range(-12,0):
    print(i,str1[i],end=' ')

-12 h -11 e -10 l -9 l -8 o -7   -6 p -5 y -4 t -3 h -2 o -1 n

In [11]:
str1='hello python'
n=len(str1)
for i in range(-n,0):
    print(i,str1[i])

-12 h
-11 e
-10 l
-9 l
-8 o
-7
-6 p
-5 y
-4 t
-3 h
-2 o
-1 n

**postive index**

In [ ]:
str1='hello python'
n=len(str1)
for i in range(n):
    print(i,str1[i])

**negative index**

In [ ]:
str1='hello python'
n=len(str1)
for i in range(-n,0):
    print(i,str1[i])

In [ ]:
#Q2 wap to print the each lettr index postive way
      # the postive index of h is 0
      # the postive index of e is 1
        
#Q3 wap to print the index letter each letter index negative way
    # the negative index of h is -12
    # the negative index of e is -11
    
#Q4 wap to print the each letter index postive and negative way(single for loop
   # the postive index of h is 0 and negative index of h is -12
   # the postive index of e is 1 and nagtive index of e is -11

In [15]:
str1='hello python'
n=len(str1)
for i in range(n):
    print(i,str1[i])

0 h
1 e
2 l
3 l
4 o
5
6 p
7 y
8 t
9 h
10 o
11 n

In [19]:
for i in range (len(str1)):
    print(i,end=' ')
    
    
for i in range (-len(str1),0):
    print(i)
        
        
for i in range (len(str1)):
    print(i,i-len(str1))    
    
# h=0  -12

0 1 2 3 4 5 6 7 8 9 10 11 -12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0 -12
1 -11
2 -10
3 -9
4 -8
5 -7
6 -6
7 -5
8 -4
9 -3
10 -2
11 -1

In [6]:
str1='hello python'
n=len(str1)
for i in range (len(str1)):
    print(f"the positive index of   {str1[i]}  is {i}")

the positive index of   h  is 0
the positive index of   e  is 1
the positive index of   l  is 2
the positive index of   l  is 3
the positive index of   o  is 4
the positive index of      is 5
the positive index of   p  is 6
the positive index of   y  is 7
the positive index of   t  is 8
the positive index of   h  is 9
the positive index of   o  is 10
the positive index of   n  is 11

In [7]:
for i in range (len(str1)):
    print(f"the negative index of {str1[i]}  is {i-len(str1)}")

the negative index of h  is -12
the negative index of e  is -11
the negative index of l  is -10
the negative index of l  is -9
the negative index of o  is -8
the negative index of    is -7
the negative index of p  is -6
the negative index of y  is -5
the negative index of t  is -4
the negative index of h  is -3
the negative index of o  is -2
the negative index of n  is -1

In [8]:
for i in range (len(str1)):
    print(f"the positive index of {str1[i]}  is {i}   and the nagitive index of  {str1[i]}  is {i-len(str1)}")

the positive index of h  is 0   and the nagitive index of  h  is -12
the positive index of e  is 1   and the nagitive index of  e  is -11
the positive index of l  is 2   and the nagitive index of  l  is -10
the positive index of l  is 3   and the nagitive index of  l  is -9
the positive index of o  is 4   and the nagitive index of  o  is -8
the positive index of    is 5   and the nagitive index of     is -7
the positive index of p  is 6   and the nagitive index of  p  is -6
the positive index of y  is 7   and the nagitive index of  y  is -5
the positive index of t  is 8   and the nagitive index of  t  is -4
the positive index of h  is 9   and the nagitive index of  h  is -3
the positive index of o  is 10   and the nagitive index of  o  is -2
the positive index of n  is 11   and the nagitive index of  n  is -1

In [ ]:
#Q5)wap ask the users get the indexes of  occurences of 'a' in a given string

# str1='available'
# iterative through str1
#apply the if condition if chatracter == a
# then print that i

In [ ]:
***when

In [26]:
# in case i ===> represents a number
str1='avaible'
for i in str1:
    print(i)

a
v
a
i
b
l
e

In [35]:
str1='available'
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)
        
# i=0 str[0]='a' a=='a' true print(0)
#i=1 str[1] ='a' 'v'=='a' flase
# i=2 str[2] ='a' 'a'=='a' true print(2)

0
2
5

In [ ]:
#Q6)  print the 1 occurance of ' a' index is 0
#       the 2 occurance of 'a' index is 2
#       the 3 occurance of 'a' index is 5

In [37]:
count=0
str1='available'
for i in range(len(str1)):
    if str1[i]=='a':
        count=count+1
        print(f"the {count} occurence of 'a' is {i}")

the 1 occurence of 'a' is 0
the 2 occurence of 'a' is 2
the 3 occurence of 'a' is 5

In [ ]:
# Q7) get the sum of all the indexes
#    get the count of all occurences :3

In [49]:
sum=0
count=0
str='available'
for i in range(len(str1)):
    if str1[i]=='a':
        count=count+1 
    sum=sum+1
    print(f"the count of index of all occurence of 'a' is {count}")
    
    print(f"the sum of index of all occurence of   'a'  is  {sum}")

the count of index of all occurence of 'a' is 1
the sum of index of all occurence of   'a'  is  1
the count of index of all occurence of 'a' is 1
the sum of index of all occurence of   'a'  is  2
the count of index of all occurence of 'a' is 2
the sum of index of all occurence of   'a'  is  3
the count of index of all occurence of 'a' is 2
the sum of index of all occurence of   'a'  is  4
the count of index of all occurence of 'a' is 2
the sum of index of all occurence of   'a'  is  5
the count of index of all occurence of 'a' is 3
the sum of index of all occurence of   'a'  is  6
the count of index of all occurence of 'a' is 3
the sum of index of all occurence of   'a'  is  7
the count of index of all occurence of 'a' is 3
the sum of index of all occurence of   'a'  is  8
the count of index of all occurence of 'a' is 3
the sum of index of all occurence of   'a'  is  9

In [ ]:
#Q8) 

# A) find the vowela in the given string

# str1: hai how are you

# B) find the index of vowels

# C) find the count of the vowels

# D)  find the sum of befor indexof vowels

In [55]:
str='hai how are you'
for i in range(len(str)):
    if str[i] in 'aeiou':
        print(str[i],end=' ')
        
# 'h' in 'aeiou' False
# 'i' in 'aeiou' True

a i o a e o u

***mutable-immutable***

- values can not change using index operation called as **immutable**

- **STRINGS ARE IMMUTABLE**

In [24]:
# i want replace 'p' with 'P'
str1='python'
str1.replace('p','P')

'Python'

In [5]:
l=[10,20,30]
l[0]=100
l

[100, 20, 30]

***slice***

- cut into pieces

- which means we can extracy some part of string

- for that we need to understand the  stop, start, step

- s[start:stop:step]

In [7]:
 # -12 -11 -10 -9  -8 -7 -6 -5 -4 -3 -2 -1
 #   h   e   l   l   o     p  y  t  h   o  n
 #   0    1   2   3  4  5  6  7  8  9  10  11
    
str='hello python'
str[2:10]
    # start=2
    # direct=postive
    # last=stop-1=10-1=9

'llo pyth'

In [10]:
str='hello python'
str[2:10:2]

'lopt'

In [11]:
str='hello python'
str[2:10:-2]

# strt value=2
# direction =-ve
# last= stop+1= 10+1=11
# 2=======11 (actual postive)
# code says negative it is not possible

''

In [15]:
 # -12 -11 -10 -9  -8 -7 -6 -5 -4 -3 -2 -1
 #   h   e   l   l   o     p  y  t  h   o  n
 #   0    1   2   3  4  5  6  7  8  9  10  11
  
 str='hello python'
str[7:-12:-2]

'y le'

In [16]:
 str='hello python'
str[2:-1:2]


# start=2
# dir=post
# last=stop-1=-4-1=-5

'lopto'

In [ ]:
  # -12 -11 -10 -9  -8 -7 -6 -5 -4 -3 -2 -1
 #   h   e   l   l   o     p  y  t  h   o  n
 #   0    1   2   3  4  5  6  7  8  9  10  11

str1[2:12:2]
str1[2:12:-2]
str1[2:-12:2]
str1[2:-12:-2]
str1[-2:-12:-2]
str1[-2:12:2]
str1[-2:-12:2]
str1[:]
str1[2:]
str1[:12]
str1[::]
str1[::-1]

In [21]:
str1='hello python'
str1[2:12:2]

'lopto'

In [22]:
str1='hello python'
str1[2:12:-2]

''

In [23]:
str1='hello python'
str1[2:-12:2]

''

In [24]:
str1='hello python'
str1[2:-12:-2]

'l'

In [25]:
str1='hello python'
str1[-2:-12:-2]

'otpol'

In [26]:
str1='hello python'
str1[-2:12:2]

'o'

In [27]:
str1='hello python'
str1[-2:-12:2]

''

In [28]:
str1='hello python'
str1[:]

'hello python'

In [29]:
str1='hello python'
str1[2:]

'llo python'

In [30]:
str1='hello python'
str1[:12]

'hello python'

In [31]:
str1='hello python'
str1[::]

'hello python'

In [32]:
str1='hello python'
str1[::-1]

'nohtyp olleh'

***concatination***

In [35]:
str1='hello'
str2='python'
str1+str2
str1+' '+str2

'hello python'

In [ ]:
str1*str2  # error
str1-str2   #error
str/str2    #error

# its not works because strings is not a numbers

In [20]:
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [41]:
str1*3

'hellohellohello'

In [42]:
str1+str1+str1

'hellohellohello'

In [43]:
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [44]:
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

## string part - 2

***string method***

- we need to treat string is a package

-  so apply dir on any string we will get thr method

In [45]:
s='python'
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [47]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# how to call the keyword
 keyword()
# methods
# package.method

# capitalize

- return a capital

In [51]:
str='python'
str.capitalize()

'Python'

In [27]:
import random
random.randint(10,20)

15

In [52]:
complex()

0j

- upper

- lower

- casefold

- center

In [53]:
str.upper()

'PYTHON'

In [54]:
str.lower()

'python'

$center$

In [60]:
str.center(10,'$')

# total new string width =10
# already given string len=6
# so extra 4 $ will add
# string should be in center
# 2$ are 2$ left side

'$$python$$'

$casefold$

**Return a version of the string suitable for caseless comparisons**.

In [58]:
str.casefold()

'python'

In [64]:
' '.center(11,'$')

'$$$$$ $$$$$'

In [68]:
'python'.center(2,'$')

'python'

 **unique vowels  (use in set)**

In [ ]:
str1='hai how are you'
vowel='aeiou'
unique=set()
for i in str1:
    for j in vowel:
        if j == i:
            unique.add(j)
print(unique)

**unique vowels or items**

- always make an empty string

- itere the letters are original string through for loop

- whenever vowels condition match keep that letter in empty string

- now on words do the two check

   - is that vowel
    
    - is that present in that new string

In [21]:
str1='hello python'
str2=''
for i in str1:
    if i not in str2:
        str2=str2+i
len(str2)

9

In [3]:
str1='hello python'
str2=''
for i in str1:
    if i in 'aeiou' and i not in str2:
        str2=str2+i
len(str2)        

# i='a' if 'a' in 'aeiou' and 'a' not in  ''  true str2=''+'a'='a'
# i='a' if 'a' in 'aeiou' and 'a' not in 'a' <>

2

In [7]:
'a'not in 'a'

False

In [8]:
str='python'
str.title()

'Python'

In [ ]:
#Q 12) str='hello how are you'
# op:'hello how are you'

In [15]:
str='hello how are you'
str.title()

'Hello How Are You'

In [16]:
str='hello how are you'
str.capitalize()

'Hello how are you'

# count

In [17]:
str1='hai how are you'
str1.count('a')

2

In [18]:
count=0
for i in str1:
    if i=='a':
        count=count+1
count

2

In [20]:
str1='ola ola ola'
str1.count('z')

0

- NOTE: there is no error in count

In [33]:
# you want count the number of 'a' after 5th index
# you want count the number of 'a' between 5th index
str1='ola ola ola'
str1.count('a',7)

1

In [38]:
str1='ola ola ola'
str1.count('a',4,10)

# 10-1=9
str1[4:10]

'ola ol'

In [39]:
str1='ola ola ola'
str1.count('a',4,10)

1

In [ ]:
#Q13)  withougt using count find the number of 'ola'
       str1='ola ola ola'
# ans=3

In [23]:
summ=0
str1='ola ola ola ola'
for i in str1:
    if i=='a':
        summ=summ+1
summ

4

***replace***

In [ ]:
str1='hello'
# i want to replace 'l' with 'L' 

# this we are not abele to do with index operetion
# thats why we are calling strings are immutable
# but this is possible using replace

In [46]:
str1='hello'
str1.replace('l','L')

'heLLo'

- in replace we have count =-1 as default value

- which means it will replace all the letter

- so if want replace only one later one later can i give the count

- / means do not goive the argument do not the provid the value

In [49]:
str1='hellllo'
str1.replace('l','L',1)

'heLlllo'

In [50]:
str1='hellllo'
str1.replace('l','L',2)

'heLLllo'

In [55]:
str1='hellllo'
str1.replace('z','L',)

'hellllo'

- read the doc string carefully

- in that it will mention we will get error at particular incident

- for count method web will not get any error

- ther is no sudstring found ans will be zero

- for replace also we will not get any error

- if ther is no substring found, the the ans will be original strin

In [ ]:
#Q14) wap ask the user replace the string
# input str: 'restart'
# op: 'resta$t'

In [59]:
str1='restart'
str1.replace('r','$')

'$esta$t'

In [111]:
str1='restart'
str1.replace('r','$',1)

'$estart'

In [112]:
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

In [117]:
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

In [66]:
str2=str1[::-1]
str3=str2.replace('r','$',1) # replace 1st occurenace
str4=str3[::-1]
str4

'resta$t'

In [70]:
s1=str1[0]
s2=str1[1:]
s3=s2.replace('r','$')
s1+s3

'resta$t'

***index***

- index will give the index of lettert in a given string

- by difault it will provide the first occurence of letter only

- if you want next occurence index of same letter you need to give star,stop

- like we given in count method

In [78]:
str1='restart'
str1.index('r')

0

In [84]:
#  i want second r
str1.index('r',1)

5

In [35]:
str1='hai hai hai hai'
str1.index('a')  # 1
str1.index('a',2)  # 5
str1.index('a',6)  # 9
str1.index('a',10)

13

In [39]:
str1='hai hai hai hai'
i1=str1.index('a') 
i2=str1.index('a',i1+1) 
i3=str1.index('a',i2+1) 
i4=str1.index('a',i3+1) 
i5=str1.index('a',i4+1)

i1,i2,i3,i4,i5

ValueError: substring not found

In [46]:
str1='hai hai hai hai'
str1.find('a')

1

In [47]:
str1='hai hai hai hai'
str1.find('a')
i1=str1.index('a')
i2=str1.index('a',i1+1)
i3=str1.index('a',i2+1)
i4=str1.index('a',i3+1)
i5=str1.index('a',i4+1)

i1,i2,i3,i4,i5

ValueError: substring not found

$count$-$replace$-$index$

In [30]:
str1='python'
str1.count('z')

0

In [31]:
str1='python'
str1.replace('z','Z')

'python'

In [32]:
str1='python'
str1.index('z')

# z = substring
# z is not present in python

ValueError: substring not found

In [33]:
str1='hai hai hai hai'
str1.count('a')   # total 'a'
str1.count('a',4) # we want to count 'a' from index
str1.count('a',5,9) #start at 5 and end at 9-1=8

1

In [6]:
str1='hai hai hai hai'
str1.find('a')
# index of 'a'
# but so many 'a' are there
# by default it will give first occurence

1

In [20]:
str1='hai hai hai hai'
i1=str1.index('a')
i2=str1.index('a',i1+1)
i3=str1.index('a',i2+1)
i4=str1.index('a',i3+1)
i5=str1.index('a',i4+1)

i1,i2,i3,i4,i5

(1, 5, 9, 13, -1)

In [9]:
count=0
str1='ola ola ola'
for i in range(len(str1)):
    if str1[i:i+3]=='ola':
        count=count+1  
count

3

# find

In [17]:
str1='hai hai hai hai'
str1.find('a')

1

In [18]:
str1='hai hai hai hai'
str1.find('z')

-1

***if substring not found***

- do the substring understand the docstring

- if they mantined any error or not

- for count and replace theey did not mantined any error

- for find it 

- count will give zero

- replace will give same string

- index will give error

- find will give -1

In [10]:
# Q15)

name='omkar.nallagoni@conganizant.com'

# first name='omkar'
# s_name='nallagoni'
# c_name='congnizant'

'virat.kohli@rcb.com'
'rohoth.sharma@mi'
'kl.rahul@lsg.com'

'kl.rahul@lsg.com'

In [28]:
name='omkar.nallagoni@conganizant.com'
i1=name.find('.')
i2=name.find('@')
i3=name.find('.',i1+1)


first_name=name[0:i1]
second_name=name[i1+1:i2]
company_name=name[i2+1:i3]
print(first_name,second_name,company_name)
name_extraction('omkar.nallogoni@conginizant.com')

omkar nallagoni conganizant
omkar nallogoni conginizant co

In [8]:
def name_extraction(name):
        i1=name.find('.')
        i2=name.find('@')
        i3=name.find('.',i1+1)

        f_name=name[0:i1]
        s_name=name[i1+1:i2]
        c_name=name[i2+1:i3]
        print(f_name,s_name,c_name)

name_extraction('omkar.nallogoni@conginizant.com')
first_name

omkar nallogoni conginizant

In [22]:
def name_extraction(name):
        i1=name.find('.')
        i2=name.find('@')
        i3=name.find('.',i1+1)
        i4=name.find('email_id',i2+2)

        f_name=name[0:i1]
        s_name=name[i1+1:i2]
        c_name=name[i2+1:i3]
        email_id=name[i3+1:i4]
        print(f_name,s_name,c_name,email_id)

name_extraction('omkar.nallogoni@conginizant.com')

omkar nallogoni conginizant co

In [38]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',

In [41]:
'abc123'.isalnum()

True

In [43]:
'ABC'.isupper()

True

$strip- lstrip-rstrip$

In [ ]:
name1=' python '
name2='python '
name3=' python'

In [45]:
name1=' python'
name1.strip()

'python'

In [47]:
name2='python '
name2.rstrip()

'python'

In [48]:
name3=' python'
name3.lstrip()

'python'

In [54]:
name4=' python$$$'
name4.lstrip().rstrip('$')

'python'

In [56]:
name4.strip().strip('$')

'python'

In [ ]:
name4=' python$$$'
name4.lstrip().rstrip('$')
name4.strip().strip('$')
name4.strip('$').strip()
name4.rstrip('$').lstrip()

In [58]:
name4=' python'
n5=name4.lstrip()
n5.rstrip('$')

'python'

**split**

In [65]:
str1='hello how are you'
str1.split()

['hello', 'how', 'are', 'you']

In [64]:
str1='hello how are, you'
str1.split(',')

['hello how are', ' you']

In [63]:
str1='hello how, are you'
str1.split('o')

['hell', ' h', 'w, are y', 'u']

$startswith-endswith$

In [75]:
str1='hello how are you'
str1.startswith('h')

True

In [76]:
str1.startswith('u')

False

In [73]:
str1='hello how are you'
str1.endswith('u')

True